<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" 
    xmlns="http://java.sun.com/xml/ns/javaee" 
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
    http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
	<display-name>Archetype Created Web Application</display-name>
	<servlet>
		<servlet-name>FindServlet</servlet-name>
		<servlet-class>servlet.FindServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>AddBookServlet</servlet-name>
		<servlet-class>servlet.AddBookServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>FindUser</servlet-name>
		<servlet-class>servlet.FindUser</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>AddUser</servlet-name>
		<servlet-class>servlet.AddUser</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>UserDelete</servlet-name>
		<servlet-class>servlet.UserDelete</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>AddProduct</servlet-name>
		<servlet-class>servlet.AddProduct</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>FindProduct</servlet-name>
		<servlet-class>servlet.FindProduct</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ProductDelete</servlet-name>
		<servlet-class>servlet.ProductDelete</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>CheckUser</servlet-name>
		<servlet-class>servlet.CheckUser</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>RegistServlet</servlet-name>
		<servlet-class>servlet.RegistServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ModUser</servlet-name>
		<servlet-class>servlet.ModUser</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>UploadServlet</servlet-name>
		<servlet-class>hadoopservlet.UploadServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>FindFile</servlet-name>
		<servlet-class>hadoopservlet.FindFile</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ReadFile</servlet-name>
		<servlet-class>hadoopservlet.ReadFile</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>SearchFile</servlet-name>
		<servlet-class>hadoopservlet.SearchFile</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>DeleteFile</servlet-name>
		<servlet-class>hadoopservlet.DeleteFile</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>SearchType</servlet-name>
		<servlet-class>hadoopservlet.SearchType</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>DownloadFile</servlet-name>
		<servlet-class>hadoopservlet.DownloadFile</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Test</servlet-name>
		<servlet-class>hadoopservlet.Test</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>CreateDirServlet</servlet-name>
		<servlet-class>hadoopservlet.CreateDirServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ProductList</servlet-name>
		<servlet-class>servlet.ProductList</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>FindProduct2</servlet-name>
		<servlet-class>servlet.FindProduct2</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>UserListServlet</display-name>
		<servlet-name>UserListServlet</servlet-name>
		<servlet-class>com.demo.web.UserListServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>UserDeleteServlet</display-name>
		<servlet-name>UserDeleteServlet</servlet-name>
		<servlet-class>com.demo.web.UserDeleteServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>UserSaveServlet</display-name>
		<servlet-name>UserSaveServlet</servlet-name>
		<servlet-class>com.demo.web.UserSaveServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>UserList</display-name>
		<servlet-name>UserList</servlet-name>
		<servlet-class>com.demo.web.UserList</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>GoodsListServlet</display-name>
		<servlet-name>GoodsListServlet</servlet-name>
		<servlet-class>com.demo.web.GoodsListServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>GoodsDeleteServlet</display-name>
		<servlet-name>GoodsDeleteServlet</servlet-name>
		<servlet-class>com.demo.web.GoodsDeleteServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<servlet-name>GoodsSaveServlet</servlet-name>
		<servlet-class>com.demo.web.GoodsSaveServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>ProductsListServlet</display-name>
		<servlet-name>ProductsListServlet</servlet-name>
		<servlet-class>com.demo.web.ProductsListServlet</servlet-class>
	</servlet>
		<servlet>
		<display-name>ProductsListServlet</display-name>
		<servlet-name>SellersServlet</servlet-name>
		<servlet-class>com.demo.web.SellersServlet</servlet-class>
	</servlet>
		<servlet>
			<description>
			</description>
			<display-name>ManufacturersServlet</display-name>
			<servlet-name>ManufacturersServlet</servlet-name>
			<servlet-class>com.demo.web.ManufacturersServlet</servlet-class>
		</servlet>
		<servlet>
			<description>
			</description>
			<display-name>SuppliersServlet</display-name>
			<servlet-name>SuppliersServlet</servlet-name>
			<servlet-class>com.demo.web.SuppliersServlet</servlet-class>
		</servlet>
	<servlet-mapping>
		<servlet-name>FindServlet</servlet-name>
		<url-pattern>/FindServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AddBookServlet</servlet-name>
		<url-pattern>/AddBookServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>FindUser</servlet-name>
		<url-pattern>/FindUser</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AddUser</servlet-name>
		<url-pattern>/AddUser</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UserDelete</servlet-name>
		<url-pattern>/UserDelete</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AddProduct</servlet-name>
		<url-pattern>/AddProduct</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>FindProduct</servlet-name>
		<url-pattern>/FindProduct</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ProductDelete</servlet-name>
		<url-pattern>/ProductDelete</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CheckUser</servlet-name>
		<url-pattern>/CheckUser</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>RegistServlet</servlet-name>
		<url-pattern>/RegistServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ModUser</servlet-name>
		<url-pattern>/ModUser</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UploadServlet</servlet-name>
		<url-pattern>/UploadServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>FindFile</servlet-name>
		<url-pattern>/FindFile</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ReadFile</servlet-name>
		<url-pattern>/ReadFile</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SearchFile</servlet-name>
		<url-pattern>/SearchFile</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DeleteFile</servlet-name>
		<url-pattern>/DeleteFile</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SearchType</servlet-name>
		<url-pattern>/SearchType</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DownloadFile</servlet-name>
		<url-pattern>/DownloadFile</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Test</servlet-name>
		<url-pattern>/Test</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CreateDirServlet</servlet-name>
		<url-pattern>/CreateDirServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ProductList</servlet-name>
		<url-pattern>/ProductList</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>FindProduct2</servlet-name>
		<url-pattern>/FindProduct2</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UserListServlet</servlet-name>
		<url-pattern>/userList</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UserDeleteServlet</servlet-name>
		<url-pattern>/userDelete</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UserSaveServlet</servlet-name>
		<url-pattern>/userSave</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UserList</servlet-name>
		<url-pattern>/UserList</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>GoodsListServlet</servlet-name>
		<url-pattern>/goodsList</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>GoodsDeleteServlet</servlet-name>
		<url-pattern>/goodsDelete</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>GoodsSaveServlet</servlet-name>
		<url-pattern>/goodsSave</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ProductsListServlet</servlet-name>
		<url-pattern>/productsList</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SellersServlet</servlet-name>
		<url-pattern>/sellersServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ManufacturersServlet</servlet-name>
		<url-pattern>/manufacturersServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SuppliersServlet</servlet-name>
		<url-pattern>/suppliersServlet</url-pattern>
	</servlet-mapping>
	 <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
	    <!--filter>
        <filter-name>struts2</filter-name>
        <filter-class>org.apache.struts2.dispatcher.filter.StrutsPrepareAndExecuteFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>struts2</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping-->
</web-app>
